@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transition: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transition: translate(0); } }

*
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  padding: 3rem; }

.heading-primary {
  text-transform: uppercase;
  padding-left: 1.7rem;
  backface-visibility: hidden;
  margin-bottom: -2rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-in; }
  .heading-primary--sub {
    color: #000;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    padding-right: 1rem;
    letter-spacing: 1.1rem;
    animation: moveInBottom 1s ease-in-out; }
  .heading-primary--logo {
    margin-top: 3rem;
    padding-right: 2rem;
    width: 10rem;
    height: 10rem;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in; }

body {
  box-sizing: border-box; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  background-image: linear-gradient(to right, #7e817dcc, #000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .5em;
  transition: all .2s; }

.section-about {
  height: 10vh;
  text-transform: uppercase;
  padding-left: 1.7rem;
  backface-visibility: hidden; }
  .section-about--portrait {
    margin: 5%;
    width: 20rem;
    height: 20rem;
    clip-path: circle(50% at 50% 50%); }
  .section-about--paragraph {
    text-transform: none;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    margin: 5%;
    padding-top: 5%; }
  .section-about .section-projects {
    height: 10vh;
    text-transform: uppercase;
    padding-left: 1.7rem;
    backface-visibility: hidden;
    margin-bottom: -2rem;
    padding-top: 6rem; }

.hr {
  display: block;
  border: none;
  height: .1rem;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#ffffffcc)); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7e817dcc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #7e817dcc;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #7e817dcc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 5%;
      top: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--p2 {
      right: 5%;
      top: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 30%;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--p4 {
      right: 5%;
      top: 23rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p4 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--p5 {
      left: 30%;
      top: 20rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p5 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--p6 {
      left: 5%;
      top: 23rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p6 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #7e817dcc;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.story {
  width: 60%;
  margin: 0 auto;
  border-radius: .3rem;
  font-size: 1.5rem;
  margin-top: 1rem; }
  .story__shape {
    width: 18rem;
    height: 18rem;
    position: relative;
    border-radius: 50%; }
  .story__text {
    color: #000; }

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-animate {
  margin: 1rem; }

.icon-animate:hover {
  transition: all .2s;
  transform: scaleY(1.1) scaleX(1.2); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #777; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc), url(../img/Left.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc), url(../img/Center.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7e817dcc, #ffffffcc), url(../img/Right.jpg); }
  .card__heading {
    font-size: 3.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffcc;
    position: absolute;
    top: 12rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(126, 129, 125, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(126, 129, 125, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(126, 129, 125, 0.85)); }
  .card__details {
    padding-right: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #000; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #000;
    margin-bottom: 8rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 90vh;
  background-image: linear-gradient(to bottom, rgba(126, 129, 125, 0.5), rgba(255, 255, 255, 0.8)), url(../img/footer.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: -14rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 5rem; }

.footer {
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba(126, 129, 125, 0.2), rgba(255, 255, 255, 0.8)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -9rem;
  position: relative; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 10rem;
    margin-right: 1rem;
    margin-top: 9rem;
    height: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7e817dcc, #000);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #7e817dcc;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0; }

.section-technology {
  background-color: #f7f7f7;
  padding: 25rem 0;
  background-color: #f7f7f7;
  padding-top: 7rem;
  padding-bottom: 50rem; }

.section-contact {
  background-color: #f7f7f7;
  padding: 4rem 0;
  padding-top: 7rem;
  padding-bottom: 7rem; }

.section-projects {
  background-color: #f7f7f7;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-top: 14rem; }
  @media only screen and (max-width: 56.25em) {
    .section-projects {
      padding: 10rem 0; } }
