.header {
    height: 90vh;
    background-image: linear-gradient(to bottom,
        rgba($color-primary, 0.50),
        rgba($color-primary-light, 0.80)), 
        url(../img/footer.jpg);
    background-size: cover;
    background-position:  top;
    position: relative;
    margin-bottom: -14rem;


    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__logo {
        height: 5rem;
    } 
}