.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-animate {
    margin: 1rem;
  }

  .icon-animate:hover {
    transition: all .2s;
    transform: scaleY(1.1) scaleX(1.2);
  }