.contact-icons {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .icon-animate:hover {
    transition: all .2s;
    transform: scaleY(1.1) scaleX(1.2);
  }