.story {
    width: 60%;
    margin: 0 auto;
    border-radius: .3rem;
    font-size: 1.5rem;
    
    &__shape {
        width: 18rem;
        height: 18rem;
        position: relative;
        border-radius: 50%;
    }

    &__text {
        color: $color-black;
    }
}