.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -30vh;
}

.section-projects {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 30rem;
}

.section-contact {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-stories {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}